.c0{
    display: flex;
    justify-content: center;
}
.c1{
    background-color:chartreuse;
    height: 100px;
    width: 100px;
}
.c2{
    background-color: black;
    height: 100px;
    width: 100px;
}